body {
    background: #000;
    color: #fff;
    padding: 0 2rem;
    font-family: 'Raleway', monospace, Arial, Helvetica, sans-serif;
}
::selection {
    background: #00c8ff;
    color: #fff;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
header {
    text-align: center;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

main {
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.top-page {
    display: flex;
    justify-content: space-between;
}

ul {
    padding-left: 20px;
}
li {
    margin: 1rem 0;
}
a {
    color: #00c8ff;
}
.button {
    cursor: pointer;
    padding: .4rem;
    border: 2px solid #00c8ff;
    box-shadow: none;
    border-radius: 10px;
    color: #fff;
    background: #00c8ff;
    transition: all .4s ease;
}
.button:hover {
    background: #0290b7;
    border-color: #0290b7;
}
.button:focus,
.button:focus-visible,
a:focus,
a:focus-visible {
    outline: 2px solid #ffb200;
}
.tools {
    margin-left: 8rem;
}

.exercices {
    display: flex;
    flex-direction: column;
}

.exercice {
    margin: 3rem 0;
}
.exercice:not(:last-child):after {
    content: "";
    display: block;
    position: relative;
    top: 3rem;
    height: 2px;
    width: 100%;
    background: #fff;
}


.exercice h2 {
    margin-top: 0;
}
.exercice h3 {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: -20px;
}

/* buttons */
.part:not(:last-child) {
    margin-bottom: 2rem;
}
.part p {
    margin-bottom: 3px;
}
.part h4 {
    margin: 0;
}

/* colors */
.contrasts .text-wrapper {
    width: 500px;
    height: 150px;
    border: 2px solid #00c8ff;
    background: #fff;
    padding: 8px;
}
.contrasts .text-wrapper .text{
    color: #838383;
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
}
.contrasts .pickers {
    margin-top: 20px;
}
.contrasts input {
    margin-right: 20px;
}

/* modal */
.modal-backdrop {
    position: fixed;
    inset: 0;
    z-index: 2;
    background: rgba(0,0,0,0.7);
}
.modal:not([hidden]) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: #fff;
    color: #212121;
    padding: 2rem;
}

/* form */
form .row {
    margin: 1rem 0;
}
form label {
    display: block;
    margin: 1rem 0 .5rem;
}
form .error {
    color: #00c8ff;
    margin-top: .5rem;
}
form input,
form select {
    padding: .5rem;
    border: 0;
}
form input[type="submit"] {
    margin-top: 1rem;
}
form .message:not(:empty) {
    margin: 1rem 0;
    border: 3px dashed #00c8ff;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 900;
}

/* accordion */
.accordion-section .open-panel{
    display: block;
    margin-top: 1rem;
}
.accordion-section .panel{
    margin: .5rem 0 1rem;
}

/* Map */
#gMap {
    width: 600px;
    height: 300px;
}
.gmap-content {
    color: #000;
}